* {
	border: 0;
}

body {
	font-family: "Roboto", sans-serif;
	font-size: 25px;
	font-weight: 500;
	background-color: rgb(204, 204, 216);
}

.container {
	max-width: 500;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}
.header {
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 20vh;
}

.mainPart {
	float: left;
	width: 1000px;
	height: 400px;
	background-color: blanchedalmond;
}

.sectionMain {
	padding: 50px 10px 10px 10px;
	width: 250px;
	width: 150px;
	background-color: rgba(238, 203, 159, 0.953);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.sectionMainBottom {
	padding: 50px 10px 10px 10px;
	width: 500px;
	width: 150px;
	background-color: rgba(238, 203, 159, 0.953);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}

.nameSection {
	background-color: rgb(195, 221, 213);
	width: 470px;
	height: 400px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	float: right;
}
#clear {
	clear: both;
}
.footer {
	flex-direction: row;
	gap: 15px;
	display: flex;
	align-items: center;
	width: 100%;
	height: 20vh;
	justify-content: space-around;
}
#section {
	margin: 20px 10px;
	background-color: #fff;
	height: 50%;
}
